<div class="flex-vertical global-setting">
  <div fxLayout="row" fxLayoutAlign="space-between center">
  	<span class="setting-title">System Setting</span>
  	<div class="btn-rainbow">
  		<div class="btn-white">
  			<button class="btn-gradient text-gradient" (click)="save1()">Save</button>
  		</div>
  	</div>
  </div>
  <div class="flexfull">
    <div class="flex33 text-right">Company / Store Name : </div>
    <input class="inputs text11" type="text" name="company" required placeholder="Company Name" [(ngModel)]="comp_name">
    <!--[(ngModel)]="brandadd.description"-->
  </div>
  <div class="flexfull">
    <div class="flex33 text-right">Address : </div>
    <input class="inputs text11" type="text" name="address" required placeholder="Address" [(ngModel)]="comp_addr">
  </div>
  <div class="flexfull">
    <div class="flex33 text-right">Phone : </div>
    <input class="inputs text11" type="text" name="phone" required placeholder="Phone" [(ngModel)]="comp_phone">
  </div>
  <div class="flexfull">
    <div class="flex33 text-right">Email : </div>
    <input class="inputs text11" type="text" name="email" required placeholder="Email" [(ngModel)]="comp_email">
  </div>
</div>

<div class="flex-vertical global-setting">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span class="setting-title">Costing Setting</span>
    <div class="btn-rainbow">
      <div class="btn-white">
        <button class="btn-gradient text-gradient" (click)="save2()">Save</button>
      </div>
    </div>
  </div>
  <div class="flex-left width33 text-left">
    <!--<mat-slide-toggle class="padtop" [(ngModel)]="cost_general" (change)="onCGShift($event.checked)">General</mat-slide-toggle>-->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="span-left">Detail</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="cost_general">
        <span class="slider round"></span>
      </label>
      <span class="span-right">Umum</span>
    </div>
  </div>
</div>

<div class="flex-vertical global-setting">
  <div fxLayout="row" fxLayoutAlign="space-between center">
  	<span class="setting-title">POS Setting</span>
  	<div class="btn-rainbow">
  		<div class="btn-white">
  			<button class="btn-gradient text-gradient" (click)="save3()">Save</button>
  		</div>
  	</div>
  </div>
  <div class="flex-left width33 text-left">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="span-left">Retail</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="restaurant">
        <span class="slider round"></span>
      </label>
      <span class="span-right">Restaurant</span>
    </div>
  </div>
  <div class="flex-left width33 text-left">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="span-left">No-Shift</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="pos_shift">
        <span class="slider round"></span>
      </label>
      <span class="span-right">Shift</span>
    </div>
  </div>
</div>

<div class="flex-vertical global-setting">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span class="setting-title">Store Setting</span>
    <!--<div class="btn-rainbow">
      <div class="btn-white">
        <button class="btn-gradient text-gradient" (click)="save2()">Save</button>
      </div>
    </div>-->
  </div>
  <div class="flex-left width100 text-left">
    <div class="table-container">
      <mat-table #table [dataSource]="dataSource" class="mat-table">
        <ng-container matColumnDef="name">
          <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Name</th>
          <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let stores">
            <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
            {{stores.store_name}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Address</th>
          <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let stores">
            <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
            {{stores.store_addr}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th class="th-style" fxFlex="25%" mat-header-cell *matHeaderCellDef>Phone</th>
          <td class="tr-style" fxFlex="25%" mat-cell *matCellDef="let stores">
            <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
            {{stores.store_phone}}</td>
        </ng-container>
        <ng-container matColumnDef="warehouse">
          <th class="th-style" fxFlex="35%" mat-header-cell *matHeaderCellDef>Warehouse</th>
          <td class="tr-style" fxFlex="35%" mat-cell *matCellDef="let stores">
            <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
            {{stores.warehouse.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="tableHeader"></tr>
        <tr mat-row class="tableRow" 
            *matRowDef="let row; columns: displayedColumns;"
            
        ></tr>
        <!--(click)="openDialog(row)"
            [class.active]="clickedRows == row"-->
      </mat-table>
      </div>
  </div>
</div>