.basic-container
  width: 100%
  position: relative
  height: 100%

.close_btn
  background: #fff
  color: #8b0000

.marginbot
  margin-bottom: 15pt

mat-button-toggle-group
  padding:0px !important
  align-items: center
  height: 23pt

mat-button-toggle
  font-size: .8em
  padding: -5pt
  width: 60pt
  background-color: white

.mat-button-toggle-checked
  background: linear-gradient(45deg, #3f5efb 0%, #fc466b 100%)
  color: white

.save_btn
  width: 100%
  border: 0
  border-radius: 3pt
  padding: 5pt
  color: #fff
  text-transform: uppercase
  letter-spacing: 1pt
  font-size: 1.2em
  background: #3f5efb

.log_btn
  width: 100%
  border: 0
  border-radius: 3pt
  padding: 5pt
  color: #3f5efb
  text-transform: uppercase
  letter-spacing: 1pt
  font-size: .9em
  background: #fff

.input_50
  width: 47%
  text-align: left

.margin_7
  margin-left: 7pt

.input_100
  width: 100%
  text-align: left

.width-10
  width: 10%

.width-90
  width: 90%

.width-100
  width: 100%

.padtop
  padding-top: 15pt