<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-button-toggle-group class="active_btn" #group="matButtonToggleGroup" [(value)]="statusActive" (change)="onValChange(group.value)">
      <mat-button-toggle value="true">Active</mat-button-toggle>
      <mat-button-toggle value="false">Not Active</mat-button-toggle>
    </mat-button-toggle-group>
    <button class="close_btn" mat-button (click)="closeDialog()">X</button>
  </div>

  <mat-form-field class="input_50" hintLabel="Max 10 characters">
    <input #input matInput maxlength="10" required placeholder="SKU" [(ngModel)]="datsku">
    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
  </mat-form-field>

  <mat-form-field class="input_50 margin_7">
    <input matInput required placeholder="Name" [(ngModel)]="datname">
  </mat-form-field>

  <mat-form-field class="input_100">
    <input matInput placeholder="Deskripsi" [(ngModel)]="datdesc">
  </mat-form-field>

  <mat-form-field class="input_50">
    <input matInput required placeholder="Harga Jual" [(ngModel)]="datlprice">
  </mat-form-field>

  <mat-form-field class="input_50 margin_7">
    <input matInput placeholder="Harga Batas" [(ngModel)]="datbprice">
  </mat-form-field>

  <mat-form-field class="input_50">
    <input matInput placeholder="Cost" [(ngModel)]="datcost">
  </mat-form-field>

  <mat-form-field class="input_field margin_7 input_50">
    <mat-label>Category</mat-label>
    <mat-select required name="categoryString" (selectionChange)="selectedValue($event)" [(value)]="selectedCategory">
      <mat-option *ngFor="let productcat of productcats" [value]="productcat.id" ngDefaultControl [(ngModel)]="productadd.category">
        {{ productcat.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input_field input_50">
    <mat-label>Brand</mat-label>
    <mat-select name="brandString" (selectionChange)="selectedValue2($event)" [(value)]="selectedBrand">
      <mat-option *ngFor="let brand of brands" [value]="brand.id" ngDefaultControl [(ngModel)]="productadd.brand">{{ brand.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group class="active_btn margin_7" #group2="matButtonToggleGroup" [(value)]="datisstock" (change)="onStockChange(group2.value)">
    <mat-button-toggle style="padding: 0pt 30pt;" value="true">Stock</mat-button-toggle>
    <mat-button-toggle style="padding: 0pt 30pt;" value="false">Jasa</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-10"><button class="log_btn" [(ngModel)]="log">Log: {{log}}</button></div>
  <div class="width-90">
    <button *ngIf="!isNew" mat-button class="submit save_btn" (click)="updateData()">Save</button>
    <button *ngIf="isNew" mat-button class="submit save_btn" (click)="createData()">Save</button>
  </div>
</div>
</div>