<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    Purchase Order
    <button class="close_btn" mat-button (click)="closeDialog()">X</button>
  </div>

  <div class="flex50">
    <div class="descrip flex35">Name *</div>
    <input class="inputs width-90" id="desc" required placeholder="Name" [(ngModel)]="data.description">
  </div>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="updateData()">Save</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>