<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Pembelian</h2>
    <button class="close_btn" mat-button (click)="closeDialog()">X</button>
  </div>

  <div fxLayout="row" class="width100" fxLayoutAlign="space-between start">
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Supplier</div>
          <div class="flex70">
            <select class="inputs width-90" [(ngModel)]="supplierString">
            <option *ngFor="let partner of partners" [value]="partner.id">
                {{ partner.name }}
            </option>
          </select>
          </div>
        </div>
      </div>
      <br/>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Gudang</div>
          <div class="flex70">
            <select class="inputs width-90" [(ngModel)]="warehouseString">
            <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                {{ warehouse.name }}
            </option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Date</div>
          <div class="flex70">
            <input type="date" class="inputs width-90"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<table class="sjs-table">
    <tr *ngFor="let row of data1">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
  </table>-->

 
  <table class="table-new">
    <tr>
      <th class="th-new" style="border-left:1px solid #ccc;" fxFlex="20%">Product</th>
      <th class="th-new" fxFlex="10%">Qty</th>
      <th class="th-new" fxFlex="20%">Harga Satuan</th>
      <th class="th-new" fxFlex="10%">Diskon(%)</th>
      <th class="th-new" fxFlex="10%">Pajak(%)</th>
      <th class="th-new" fxFlex="30%">Subtotal</th>
    </tr>
    <tr>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="20%">
        <input class="inputs width-100" (focus)="onF()" placeholder="{{ph}}" [(ngModel)]="term"/></td>
      <td class="td-new" fxFlex="10%"><input class="inputs width-100" (blur)="calculate()" [(ngModel)]="datqty"/></td>
      <td class="td-new" fxFlex="20%"><input class="inputs width-100" (blur)="calculate()" [(ngModel)]="datcost"/></td>
      <td class="td-new" fxFlex="10%"><input class="inputs width-100" [(ngModel)]="datdisc"/></td>
      <td class="td-new" fxFlex="10%"><input class="inputs width-100" [(ngModel)]="dattax"/></td>
      <td class="td-new" fxFlex="20%"><input disabled class="inputs width-100" [(ngModel)]="datsub"/></td>
      <td class="td-new btn-rainbow" style="text-align:center;" fxFlex="10%"><button style="width:100%;background:none;border:none;color:white;" (click)="pushing()">TAMBAH</button></td>
    </tr>
  </table>

  <ul class="prod" *ngIf="openDropDown">
    <li class="list-group-item category"
      *ngFor="let product of products | filter:term; let i1 = index"
      [class.active]="i1 == currentIndex1"
      (click)="getProd(product, i1)">
      {{ product.name }}
    </li>
  </ul>

  <mat-table #table [dataSource]="dataSource" class="mat-table">
  <ng-container matColumnDef="product">
    <th class="th-style" fxFlex="20%" mat-header-cell *matHeaderCellDef>Product</th>
    <td class="tr-style" fxFlex="20%" mat-cell *matCellDef="let datas">
      {{datas.product}}
    </td>
  </ng-container>
  <ng-container matColumnDef="qty">
    <th class="th-style" fxFlex="10%" mat-header-cell *matHeaderCellDef>Qty</th>
    <td class="tr-style" fxFlex="10%" mat-cell *matCellDef="let datas">
      {{datas.qty}}
    </td>
  </ng-container>
  <ng-container matColumnDef="price_unit">
    <th class="th-style" fxFlex="20%" mat-header-cell *matHeaderCellDef>Harga Satuan</th>
    <td class="tr-style" fxFlex="20%" mat-cell *matCellDef="let datas">
      {{datas.price_unit}}
    </td>
  </ng-container>
  <ng-container matColumnDef="discount">
    <th class="th-style" fxFlex="10%" mat-header-cell *matHeaderCellDef>Diskon</th>
    <td class="tr-style" fxFlex="10%" mat-cell *matCellDef="let datas">
      {{datas.discount}}
    </td>
  </ng-container>
  <ng-container matColumnDef="tax">
    <th class="th-style" fxFlex="10%" mat-header-cell *matHeaderCellDef>Pajak</th>
    <td class="tr-style" fxFlex="10%" mat-cell *matCellDef="let datas">
      {{datas.tax}}
    </td>
  </ng-container>
  <ng-container matColumnDef="subtotal">
    <th class="th-style text-center" fxFlex="20%" mat-header-cell *matHeaderCellDef>Subtotal</th>
    <td class="tr-style text-right" fxFlex="20%" mat-cell *matCellDef="let datas">
      {{datas.subtotal}}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th class="th-style" fxFlex="10%" mat-header-cell *matHeaderCellDef>Aksi</th>
    <td class="tr-style" fxFlex="10%" mat-cell *matCellDef="let datas">
      Edit
    </td>
  </ng-container>

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>-->
  <tr mat-row class="tableRow" 
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</mat-table>
  <table class="table-new text-right" style="margin-top:2pt;">
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="20%">Subtotal</td>
      <td class="td-total" fxFlex="20%">Rp. xxx</td>
      <td class="td-total" fxFlex="10%"></td>
    </tr>
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="20%">Disc</td>
      <td class="td-total" fxFlex="20%">Rp. xxx</td>
      <td class="td-total" fxFlex="10%"></td>
    </tr>
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="20%">Tax</td>
      <td class="td-total" fxFlex="20%">Rp. xxx</td>
      <td class="td-total" fxFlex="10%"></td>
    </tr>
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="20%"><b>TOTAL</b></td>
      <td class="td-total" fxFlex="20%"><b>Rp. xxx</b></td>
      <td class="td-total" fxFlex="10%"></td>
    </tr>
  </table>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="updateData()">Simpan</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>