<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Pembelian</h2>
    <button class="close_btn" mat-button (click)="closeDialog()">X</button>
  </div>

  <div fxLayout="row" class="width100" fxLayoutAlign="space-between start">
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Supplier</div>
          <div class="flex70">
            <select class="inputs width-90" [(ngModel)]="supplierString">
            <option *ngFor="let partner of partners" [value]="partner.id">
                {{ partner.name }}
            </option>
          </select>
          </div>
        </div>
      </div>
      <br/>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Gudang</div>
          <div class="flex70">
            <select class="inputs width-90" [(ngModel)]="warehouseString">
            <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                {{ warehouse.name }}
            </option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Date</div>
          <div class="flex70">
            <input type="date" class="inputs width-90"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<table class="sjs-table">
    <tr *ngFor="let row of data1">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
  </table>-->
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="updateData()">Simpan</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>