<div class="flex-container">
	<div class="flex-left">
		<div *ngIf="isIM || isAdm" class="submit-form">
    		<div fxLayout="row">
      			<mat-form-field hintLabel="Max 6 characters" class="input_field">
          			<mat-label class="input_label">Category ID</mat-label>
          			<input #input matInput maxlength="6" type="text" class="form-control" name="catid" [(ngModel)]="productcatadd.catid" required id="catid">
                <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
        		</mat-form-field>
      			<mat-form-field class="input_field">
          			<mat-label class="input_label">Description</mat-label>
          			<input matInput type="text" class="form-control" name="description" [(ngModel)]="productcatadd.description" required id="description">
        		</mat-form-field>
            <div (click)="saveProductCat()" class="quick_add">
      			<button class="submit">Quick add</button></div>
    		</div>
  		</div>
	</div>

	<div class="flex-right">
    <div fxLayout="row">
		<mat-form-field class="input_field max_search">
      <input matInput type="text" class="form-control" placeholder="Search data" (keyup)="applyFilter($event)">
            <!--[(ngModel)]="searchProdCat"-->
    </mat-form-field>
    <div *ngIf="isIM || isAdm" fxLayout="column">
      <button class="submit" (click)="searchActive()">active</button>
      <button class="submit pink" (click)="searchInactive()">not-active</button>
    </div>
    </div>
	</div>
</div>

<div class="table-container mat-elevation-z3">
<mat-table #table [dataSource]="dataSource" class="mat-table">
  <ng-container matColumnDef="id">
    <th class="th-style" fxFlex="25%" mat-header-cell *matHeaderCellDef>ID</th>
    <td class="tr-style" fxFlex="25%" mat-cell *matCellDef="let productcats">
      <span *ngIf="productcats.active==false" class="inactive">&nbsp;&nbsp;</span>
      {{productcats.catid}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Name</th>
    <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let productcats">{{productcats.description}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
  <tr mat-row class="tableRow" 
      *matRowDef="let row; columns: displayedColumns;"
      (click)="openDialog(row)"
      [class.active]="clickedRows == row"
  ></tr>
</mat-table>
</div>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>