.container
	width: 100vw
	display: flex
	flex-direction: row
	justify-content: center
	align-item: flex-start
	gap: 7pt

.grow1
	flex-grow: 1

.grow2
	flex-grow: 2

.flex20
	flex: 20%

.flex60
	flex: 60%

.mat-grid-list
	padding-top: 0pt

.mat-card
	box-shadow: 5px 5px 10px 1px #dedede
	max-width: 75%
	min-height: 80pt !important
	border-radius: 10pt

ul
	background: #fff
	padding-left: 12pt
	border-radius: 10pt
	box-shadow: 5px 5px 20px 1px #dedede

	li
		list-style-type: '>'
		padding: 6pt 3pt
		border-bottom: 1px solid #eee