<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  
</div>

<div style="display:flex; flex-direction:row;">

  <mat-slide-toggle>Inventory</mat-slide-toggle>
  <mat-checkbox class="input_50 padtop">User</mat-checkbox>
  <mat-checkbox class="input_50 padtop margin_7">Manager</mat-checkbox>
  
  <mat-slide-toggle>Partner</mat-slide-toggle>
  <mat-checkbox class="input_50 padtop">User</mat-checkbox>
  <mat-checkbox class="input_50 padtop margin_7">Manager</mat-checkbox>
  
  <mat-slide-toggle>Transaction</mat-slide-toggle>
  <mat-checkbox class="input_50 padtop">User</mat-checkbox>
  <mat-checkbox class="input_50 padtop margin_7">Manager</mat-checkbox>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>